<h2>
    {{#if application}}
        <a href="/application/detail/{{applicationId}}">{{application.name}}</a> versions
    {{else}}
        <a href="/application/detail/{{applicationId}}">{{applicationId}}</a> versions
    {{/if}}
</h2>
<div class="btn-group">
    <a href="/application/detail/{{applicationId}}" class="btn btn-default">
        <i class="fa fa-chevron-left"></i>
            {{#if application }}{{application.name}}{{else}}{{applicationId}}{{/if}}
    </a>
    <a href="/application/detail/{{applicationId}}/version/create" class="btn btn-primary">
        <i class="fa fa-plus"></i> Create new version
    </a>
</div>

{{#if versions.length}}
    <ul>
        {{#each versions}}
            <li>
                <a href="/application/detail/{{this.application_id}}/version/detail/{{this.id}}">{{this.id}}</a>
            </li>
        {{/each}}
    </ul>
{{else}}
    No versions.
{{/if}}
