<h2>
    {{#if application}}
        {{application.name}} Versions
    {{else}}
        {{applicationId}} Versions
    {{/if}}
</h2>
<div class="btn-group">
    <a href="/application/detail/{{applicationId}}" class="btn btn-default">
        <i class="fa fa-chevron-left"></i>
            Back {{#if application }} to {{application.name}} {{else}} to {{applicationId}} {{/if}}
    </a>
    <a href="/application/detail/{{applicationId}}/version/create" class="btn btn-primary">
        <i class="fa fa-plus"></i> Create new version
    </a>
</div>

{{#if versions.length}}
    <ul>
        {{#each versions}}
            <li>
                <a href="/application/detail/{{this.application_id}}/version/detail/{{this.id}}">{{this.id}}</a>
            </li>
        {{/each}}
    </ul>
{{else}}
    No versions.
{{/if}}
