{{#if edit}}
    <h2>Edit {{resource.id}}.{{scope.id}}</h2>
{{else}}
    <h2>Create new scope for {{resource.name}}</h2>
{{/if}}
<form class="form" name="scopeForm">
    <div class="form-group">
        <label for="scope_id">Scope ID</label>
        <small>The ID of the scope.</small>
        <div class="input-group">
            <div class="input-addon">
                <i  title="Scope ID is available."
                    class="fa fa-check is-available"></i>
                {{#unless edit}}
                    <i  title="Scope ID is already taken."
                        class="fa fa-close is-taken"></i>
                {{/unless}}
            </div>
            <input
                id="scope_id"
                autofocus="autofocus"
                name="yourturn_scope_id"
                title="Only characters with underscores in between."
                pattern="[A-Za-z]\w+[A-Za-z]"
                required="required"
                placeholder="read"
                {{#if edit}}
                    disabled="disabled"
                    value="{{scope.id}}"
                {{/if}}
                type="text" />
        </div>
    </div>
    <div class="form-group">
        <label for="scope_summary">Summary</label>
        <small>A few words on what the scope grants.</small>
        <input
            name="yourturn_scope_summary"
            id="scope_summary"
            maxlength="140"
            {{#if edit}}
                value="{{scope.summary}}"
            {{/if}}
            type="text" />
    </div>
    <div class="form-group">
        <label for="scope_summary">User Information</label>
        <small>This will be shown to the user on the consent screen. “The application would like to…”</small>
        <input
            name="yourturn_scope_information"
            id="scope_information"
            maxlength="140"
            value="{{scope.information}}"
            type="text" />
    </div>
    <div class="form-group">
        {{#if resourceHasOwner}}
            <label>Scope Type</label>
            <small>Which of these scope types applies?</small>
            <div class="grid">
                <div class="grid-col">
                    <label>
                        <input
                            id="scope_ownerScope"
                            required="required"
                            value="scope_ownerScope"
                            name="yourturn_scope_scopeType"
                            {{#if scope.ownerScope}}
                                checked="checked"
                            {{/if}}
                            type="radio" /> Resource Owner Scope
                    </label>
                </div>
                <div class="grid-col">
                    <p>
                        <small>{{#each resource.owners}}<strong>{{this}}</strong>{{/each}} can grant <strong data-action="sync-with-scope-id" /> access on his <strong>{{resource.name}}</strong> data to applications.</small>
                    </p>
                    <p>
                        <small>A Resource Owner Scope can be granted by the resource owners to others. The resource owner automatically has the permission to grant this scope without further actions. Resource Owner Scopes always authorize only in the context of the resource owner’s resources.</small>
                    </p>
                    <p>
                        <small>For instance: A customer can grant an application <strong>read</strong> access to <strong>his</strong> sales order data.</small>
                    </p>
                </div>
            </div>
            <div class="grid">
                <div class="grid-col">
                    <label for="scope_appScope">
                        <input
                            id="scope_appScope"
                            value="scope_appScope"
                            name="yourturn_scope_scopeType"
                            {{#unless scope.ownerScope}}
                                checked="checked"
                            {{/unless}}
                            type="radio" /> Application Scope
                    </label>
                </div>
                <div class="grid-col">
                    <p>
                        <small>An application can get <strong data-action="sync-with-scope-id" /> access to <strong>{{resource.name}}</strong> data.
                    </p>
                    <p>
                         Normally Application Scopes are not bound to the context of a resource owner. By default neither applications nor resource owners have this scope. It has to be assigned manually in an application’s OAuth configuration.</small>
                    </p>
                    <p>
                        <small>For instance: An analytics application can get <strong>read_all</strong> access to all sales order data without consent of the resource owners.</small>
                    </p>
                </div>
            </div>
        {{else}}
            <label>Scope Type</label>
            <small>Which of these scope types applies?</small>
            <div class="grid">
                <div class="grid-col">
                    <label class="form-disabled">
                        <input
                            id="scope_ownerScope"
                            disabled="disabled"
                            required="required"
                            value="scope_ownerScope"
                            name="yourturn_scope_scopeType"
                            {{#if scope.ownerScope}}
                                checked="checked"
                            {{/if}}
                            type="radio" /> Resource Owner Scope
                    </label>
                </div>
                <div class="grid-col">
                    <small>Nobody owns {{resource.name}} data.</small>
                </div>
            </div>
            <div class="grid">
                <div class="grid-col">
                    <label for="scope_appScope">
                        <input
                            id="scope_appScope"
                            checked="checked"
                            value="scope_appScope"
                            name="yourturn_scope_scopeType"
                            {{#unless scope.ownerScope}}
                                checked="checked"
                            {{/unless}}
                            type="radio" /> Application Scope
                    </label>
                </div>
                <div class="grid-col">
                    <p>
                        <small>An application can get <strong data-action="sync-with-scope-id" /> access to <strong>{{resource.name}}</strong> data.
                    </p>
                    <p>
                         Normally Application Scopes are not bound to the context of a resource owner. By default neither applications nor resource owners have this scope. It has to be assigned manually in an application’s OAuth configuration.</small>
                    </p>
                    <p>
                        <small>For instance: An analytics application can get <strong>read_all</strong> access to all sales order data without consent of the resource owners.</small>
                    </p>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="form-group">
        <label for="scope_description">Scope Description</label>
        <small>An elaborate description. You can use <a data-external href="http://www.unexpected-vortices.com/sw/rippledoc/quick-markdown-example.html">Markdown</a>.</small>
        <textarea
            id="scope_description"
            name="yourturn_scope_description"
            cols="30"
            rows="10">{{scope.description}}</textarea>
    </div>
    <div class="btn-group">
        <button
            type="submit"
            class="btn btn-primary">
            <i class="fa fa-save"></i> Save
        </button>
    </div>
</form>
