<h2><a href="/application/detail/{{application.id}}">{{application.name}}</a> OAuth Client</h2>
<div class="btn-group">
    <a href="/application/detail/{{application.id}}" class="btn btn-default">
        <i class="fa fa-chevron-left"></i> {{application.name}}
    </a>
</div>
<form name="oauthForm" class="form">
    <div class="form-group">
        <label for="oauth_redirect_url">Redirect URL</label>
        <small>Where you expect users to come back to after logging in.</small>
        <input
            {{#if oauth.redirect_url}}
            value="{{oauth.redirect_url}}"
            {{/if}}
            id="oauth_redirect_url"
            name="yourturn_oauth_redirect_url"
            type="url" />
    </div>
    <div class="form-group">
        <label>
            <input
                {{#unless oauth.is_client_confidential}}
                    checked="checked"
                {{/unless}}
                data-block="confidentiality-checkbox"
                id="oauth_is_client_non_confidential"
                name="yourturn_oauth_is_client_non_confidential"
                type="checkbox" /> Client is non-confidential
        </label>
        <small>Non-confidential clients are only allowed to use the OAuth2 Implicit Flow.</small>
    </div>
    <div class="form-group">
        <label>Resource Owner Scopes</label>
        <small>{{application.name}} can ask the resource owners for these scopes to be granted:</small>
        <div data-action="ownerscope-list"></div>
    </div>
    
    <div class="btn-group">
        <button
            type="submit"
            class="btn btn-primary {{#unless isOwnApplication}}btn-disabled{{/unless}}">
            <i class="fa fa-save"></i> Save
        </button>
    </div>
</form>
{{> ../oauth-sync-info}}