<h2>OAuth config for {{application.name}}</h2>
<div class="btn-group">
    <a href="/application/detail/{{application.id}}" class="btn btn-default">
        <i class="fa fa-chevron-left"></i> Back to {{application.name}}
    </a>
</div>
<form name="oauthForm" class="form">
    <div class="form-group">
        <label for="oauth_redirect_url">Redirect URL</label>
        <small>Where you expect users to come back to after logging in.</small>
        <input
            {{#if oauth.redirect_url}}
            value="{{oauth.redirect_url}}"
            {{/if}}
            id="oauth_redirect_url"
            name="yourturn_oauth_redirect_url"
            type="url" />
    </div>
    <div class="form-group">
        <label>
            <input
                {{#if oauth.is_client_confidential}}
                checked="checked"
                {{/if}}
                id="oauth_is_client_confidential"
                name="yourturn_oauth_is_client_confidential"
                type="checkbox" /> Client is confidential
        </label>
        <small>Non-confidential clients are only allowed to use the OAuth2 Implicit Flow.</small>
    </div>
    <div class="form-group">
        <label>Resource Owner Scopes</label>
        <small>{{application.name}} can ask the resource owners for these scopes to be granted:</small>
        <div data-action="ownerscope-list"></div>
    </div>
    <div class="form-group">
        <label>Application Scopes</label>
        <small>{{application.name}} has the permission to access data with these scopes:</small>
        <div data-action="appscope-list"></div>
    </div>
    <div class="form-group">
        <label>Credential Distribution</label>
        <small>Activate credential distribution into these S3 buckets (<a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html" data-external>Naming Conventions</a>):</small>
        <div data-action="editable-list"></div>
    </div>
    <div class="btn-group">
        <button
            type="submit"
            class="btn btn-primary">
            <i class="fa fa-save"></i> Save
        </button>
    </div>
</form>