<h2 class="applicationList-headline">Applications</h2>
<div class="btn-group">
    <a href="/application/create" class="btn btn-default">
    <i class="fa fa-plus"></i> Create Application</a>
</div>
<div class="form-group">
    <form class="form">
        <label for="yourturn-search">Search:</label>
        <div class="input-group">
            <input
                name="yourturn-search"
                autofocus="autofocus"
                value="{{term}}"
                type="search"
                aria-label="Enter your term"
                data-action="search"
                placeholder="Application" />
            <button
                type="submit"
                class="btn btn-default">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
    </form>
</div>
<h3>Your team apps</h3>
{{#if teamApps.length}}
    <ul data-block="teamApps">
        {{#each teamApps}}
            <li>
                <a href="/application/detail/{{this.id}}">{{this.name}}</a>
            </li>
        {{/each}}
    </ul>
{{else}}
    No applications owned by your team.
{{/if}}

<h3>Other apps</h3>
{{#if otherApps.length}}
    <ul data-block="otherApps">
        {{#each otherApps}}
            <li>
                <a href="/application/detail/{{this.id}}">{{this.name}}</a>
            </li>
        {{/each}}
    </ul>
{{else}}
    No applications owned by other teams.
{{/if}}
