<h2>
    <a
        href="/application/detail/{{applicationId}}">{{application.name}}</a> 
    <a
        href="/application/detail/{{applicationId}}/version/detail/{{versionId}}"
        class="approvalForm-versionId">{{versionId}}</a> 
    approvals
</h2>
<div class="btn-group">
    <a href="/application/detail/{{applicationId}}/version/detail/{{versionId}}" class="btn btn-default">
        <i class="fa fa-chevron-left"></i> {{application.name}} {{versionId}}
    </a>
</div>
<div class="grid with-gutter">
    <div class="grid-col col-1-2">
        <h4>Existing approvals</h4>
        <div
            data-block="approval-list"
            class="approvalForm-approvalList">
        </div>
    </div>
    <div class="grid-col col-1-2">
        <h4>Add approval</h4>
            <form class="form" name="approvalForm">
                <div class="form-group">
                    <label for="approval_type">Approval Type</label>
                    <small>What specifically do you approve?</small>
                    <select
                        id="approval_type"
                        data-block="approvalType-selection"
                        name="yourturn_approval_type"
                        type="text">
                        {{#each approvalTypes}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                    <small>or</small>
                    <label>
                        <input
                            id="approval_custom"
                            type="checkbox" /> Custom: 
                    </label>
                    <input
                        id="approval_custom_type"
                        name="yourturn_approval_custom_type"
                        placeholder="CUSTOM_TYPE"
                        pattern="[a-zA-Z_][a-zA-Z]*[a-zA-Z]"
                        title="Only characters"
                        type="text" />
                </div>
                <div class="form-group">
                    <label for="approval_notes">Notes</label>
                    <small>You can use <a data-external href="http://www.unexpected-vortices.com/sw/rippledoc/quick-markdown-example.html">Markdown</a>.</small>
                    <textarea
                        id="approval_notes"
                        name="yourturn_approval_notes"
                        placeholder="I swear by the life of my firstborn that {{application.name}} {{versionId}} is properly tested."
                        cols="30"
                        rows="10"></textarea>
                </div>
                <div class="btn-group">
                    <button
                        type="submit"
                        class="btn btn-primary">
                        <i class="fa fa-save"></i> Save
                    </button>
                </div>
            </form>
    </div>
</div>