<h2>Search</h2>

<form>
    <input
        autofocus="autofocus"
        value="{{term}}"
        type="search"
        aria-label="Enter your search"
        placeholder="yourturn" />
    <button
        type="submit"
        class="btn btn-default">
        <i class="fa fa-search"></i> Search
    </button>
</form>

{{#if results.length}}
    <h4 class="searchResult-headline">Results for “{{term}}”</h4>
    <ol>
        {{#each results}}

        <li>
            {{#if this._url}}
                <a href="{{this._url}}">{{this.name}}</a>
            {{else}}
                {{this.name}}
            {{/if}}
            <small>({{this._source}})</small>
        </li>

        {{/each}}
    </ol>
{{/if}}
{{#if noResults}}
    <h4 class="searchResult-headline">No results for “{{term}}”</h4>
{{/if}}