<h2>{{resourceId}}.{{scope.id}}</h2>
<div class="btn-group">
    <a
        class="btn btn-default"
        href="resource/detail/{{resourceId}}">
        <i class="fa fa-chevron-left"></i> Back to {{resourceId}}
    </a>
</div>
<table>
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{scope.id}}</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{scope.summary}}</td>
        </tr>
        <tr>
            <th>User Information</th>
            <td>{{scope.information}}</td>
        </tr>
        <tr>
            <th>Criticality</th>
            <td>{{scopeCriticality.value}}—{{scopeCriticality.name}}</td>
        </tr>
        <tr>
            <th>Resource Owner Scope</th>
            <td>
                {{#if scope.ownerScope}}
                    <i class="fa fa-check-square"></i>
                {{else}}
                    <i class="fa fa-square-o"></i>
                {{/if}}
            </td>
        </tr>
    </tbody>
</table>
<h4 class="scopeDetail-descriptionTitle">Description</h4>
<p data-action="markdown">
    {{scope.description}}
</p>