<h2>
    <a href="/resource/detail/{{resourceId}}">{{resourceId}}</a>.{{scope.id}}</h2>
<div class="btn-group">
    <a
        href="/resource/detail/{{resourceId}}"
        class="btn btn-default">
        <i class="fa fa-chevron-left"></i> {{resourceId}}
    </a>
    <a
        href="/resource/detail/{{resourceId}}/scope/edit/{{scope.id}}"
        class="btn btn-primary {{#unless whitelisted}}btn-disabled{{/unless}}">
        <i class="fa fa-pencil"></i> Edit {{scope.id}}
    </a>
</div>
<table class="table">
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{scope.id}}</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{scope.summary}}</td>
        </tr>
        <tr>
            <th>User Information</th>
            <td>{{scope.user_information}}</td>
        </tr>
        <tr>
            <th>Resource Owner Scope</th>
            <td>
                {{#if scope.is_resource_owner_scope}}
                    <i class="fa fa-check-square"></i>
                {{else}}
                    <i class="fa fa-square-o"></i>
                {{/if}}
            </td>
        </tr>
        <tr>
            <th>Applications</th>
            <td>
                <ul>
                    {{#each applications}}
                        <li>
                            <a href="/application/detail/{{this.id}}">
                                {{this.id}}
                            </a>
                        </li>
                    {{else}}
                    No applications with this scope.
                    {{/each}}
                </ul>
            </td>
        </tr>
    </div>


    </tbody>
</table>
<h4 class="scopeDetail-descriptionTitle">Description</h4>
<p
    class="scopeDetail-description"
    data-action="markdown"
    data-block="description">
    {{scope.description}}
</p>
