<h2 class="violationList-headline">Violations</h2>
<div class="u-info">
    Violations of the STUPS policy and bad practices in accounts you have access to.
</div>
<!--
ENABLE THIS LATER

<div class="violationList-datetime">
    <div class="grid">
        <div class="grid-col">
            <small>Show violations between</small>
            <div>
                <label for="yourturn_violation_startDate"><i class="fa fa-fw fa-calendar-o"></i></label>
                <input
                    id="yourturn_violation_startDate"
                    type="date"
                    data-action="datepicker-start" />
            </div>
            <div>
                <label for="yourturn_violation_startTime"><i class="fa fa-fw fa-clock-o"></i></label>
                <input
                    id="yourturn_violation_startTime"
                    type="time"
                    data-action="timepicker-start" />
            </div>
        </div>
        <div class="grid-col">
            <small>and</small>
            <div>
                <label for="yourturn_violation_endDate"><i class="fa fa-fw fa-calendar-o"></i></label>
                <input
                    id="yourturn_violation_endDate"
                    type="date"
                    data-action="datepicker-end" />
            </div>
            <div>
                <label for="yourturn_violation_endTime"><i class="fa fa-fw fa-clock-o"></i></label>
                <input
                    id="yourturn_violation_endTime"
                    type="time"
                    data-action="timepicker-end" />
            </div>
        </div>
    </div>
</div>
-->
<div class="tabs">
    <div
        data-action="show-unchecked"
        class="tab {{#unless showingChecked}}is-active{{/unless}}">
        Unresolved <span class="badge">{{uncheckedViolations.length}}</span>
    </div>
    <div
        data-action="show-checked"
        class="tab {{#if showingChecked}}is-active{{/if}}">
        Resolved <span class="badge">{{checkedViolations.length}}</span>
    </div>
</div>
{{#each violations}}
<div class="violation">
    <header>
        In <strong>{{region}}</strong> of account <strong>{{accountId}}</strong> 
    </header>
    <blockquote class="violation-violationMessage">
        {{message}}
    </blockquote>
    <footer>
        {{#if checked}}
            <span>{{lastModifiedBy}} ({{{relativeDate lastModified}}}):</span>
            <blockquote class="violation-explanationMessage">{{comment}}</blockquote>
        {{else}}
            <form class="form" data-violation-id="{{this.id}}">
                <div class="input-group">
                    <input
                        placeholder="This is expected because I tested things."
                        type="text" />
                    <button
                        type="submit"
                        class="btn btn-default">
                        <i class="fa fa-check"></i> Resolve
                    </button>
                </div>
            </form>
        {{/if}}
    </footer>
</div>
{{/each}}