<h2 class="violationList-headline">Violations</h2>
<div class="u-info">
    Violations of the STUPS policy and bad practices in accounts you have access to.
</div>
<small>Showing {{violations.length}} violations:</small>
{{#each violations}}
<div class="violation">
    <header>
        In <strong>{{this.region}}</strong> of account <strong>{{this.accountId}}</strong> 
    </header>
    <blockquote>
        {{this.message}}
    </blockquote>
    <footer>
        {{#if checked}}
            {{comment}}
        {{else}}
            <form class="form">
                <div class="input-group">
                    <input
                        placeholder="This was intended because I tested things."
                        type="text" />
                    <div class="btn btn-default">
                        <i class="fa fa-check"></i> Resolve
                    </div>
                </div>
            </form>
        {{/if}}
    </footer>
</div>
{{/each}}