<h2 class="violationList-headline">Violations</h2>
<div class="u-info">
    Violations of the STUPS policy and bad practices in accounts you have access to.
</div>
<div class="tabs">
    <div
        data-action="show-unchecked"
        class="tab {{#unless showingChecked}}is-active{{/unless}}">
        Unresolved <span class="badge">{{uncheckedViolations.length}}</span>
    </div>
    <div
        data-action="show-checked"
        class="tab {{#if showingChecked}}is-active{{/if}}">
        Resolved <span class="badge">{{checkedViolations.length}}</span>
    </div>
</div>
{{#each violations}}
<div class="violation">
    <header>
        In <strong>{{region}}</strong> of account <strong>{{accountId}}</strong> 
    </header>
    <blockquote class="violation-violationMessage">
        {{message}}
    </blockquote>
    <footer>
        {{#if checked}}
            <span>{{lastModifiedBy}} ({{{relativeDate lastModified}}}):</span>
            <blockquote class="violation-explanationMessage">{{comment}}</blockquote>
        {{else}}
            <form class="form" data-violation-id="{{this.id}}">
                <div class="input-group">
                    <input
                        placeholder="This is expected because I tested things."
                        type="text" />
                    <button
                        type="submit"
                        class="btn btn-default">
                        <i class="fa fa-check"></i> Resolve
                    </button>
                </div>
            </form>
        {{/if}}
    </footer>
</div>
{{/each}}