{{#if edit}}
    <h2>Edit {{app.name}}</h2>
    <div class="btn-group">
        <a href="/application/detail/{{app.id}}" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> Back to {{app.name}}
        </a>
    </div>
{{else}}
    <h2>Create a new application</h2>
    <div class="btn-group">
        <a href="/application" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> Back to applications
        </a>
    </div>
{{/if}}
<form class="form" name="createAppForm">
    <div class="form-group">
        <label for="active">
            <input
                id="active"
                {{#if edit }}
                    {{#if app.active}}
                        checked="checked"
                    {{/if}}
                {{else}}
                    checked="checked"
                {{/if}}
                name="yourturn_app_active"
                data-block="active-checkbox"
                type="checkbox" /> Active application
            
        </label>
    </div>
    <div class="form-group">
        <label for="team_id">Team ID</label>
        <small>The ID of the owning team.</small>
        {{#if edit}}
            <input
                id="team_id"
                value="{{app.team_id}}"
                disabled="disabled"
                type="text" />
        {{else}}
            <select
                name="yourturn_app_team_id"
                id="team_id">
                {{#each teams}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        {{/if}}
    </div>
    <div class="form-group createApplication-applicationId">
        <label for="app_id">Application ID</label>
        <small>The ID of the application.</small>
        <div class="input-group">
            <div class="input-addon">
                <i  data-block="available-symbol"
                    title="App ID is available."
                    class="fa fa-check fa-fw is-available"></i>
                {{#unless edit}}
                    <i  data-block="taken-symbol"
                        title="App ID is already taken."
                        class="fa fa-close fa-fw is-taken"></i>
                {{/unless}}
            </div>
            <input
                required="required"
                id="app_id"
                {{#if edit}}
                    disabled="disabled"
                    value="{{app.id}}"
                {{/if}}
                name="yourturn_app_app_id"
                data-block="id-input"
                title="Starts with character, may end with digit, may have dashes in between."
                pattern="[A-Za-z][A-Za-z0-9\-]*[A-Za-z0-9]"
                placeholder="pierone"
                type="text" />
        </div>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <small>The full name of your application.</small>
        <input
            required="required"
            id="name"
            data-block="name-input"
            value="{{app.name}}"
            name="yourturn_app_name"
            placeholder="Pier One"
            type="text" />
    </div>
    <div class="form-group">
        <label for="subtitle">Subtitle</label>
        <small>A few words on what it is.</small>
        <input
            maxlength="140"
            placeholder="The Docker registry"
            id="subtitle"
            value="{{app.subtitle}}"
            name="yourturn_app_subtitle"
            type="text" />
    </div>
    <div class="form-group">
        <label for="service_url">Service URL</label>
        <small>Where your application will run.</small>
        <div class="input-group">
            <div class="input-addon">https://</div>
            <input
                required="required"
                title="Only characters, numbers or dashes with at least one dot in between."
                pattern="([A-Za-z][A-Za-z0-9\-]*[A-Za-z0-9])+(\.([A-Za-z][A-Za-z0-9\-]*[A-Za-z0-9]))*\.\w+"
                placeholder="pierone.stups.examp.le"
                id="service_url"
                value="{{app.service_url}}"
                name="yourturn_app_service_url"
                type="text" />
        </div>
    </div>
    <div class="form-group">
        <label for="scm_url">SCM URL</label>
        <small>Where you manage your source code.</small>
        <input
            placeholder="https://github.com/zalando-stups/pierone.git"
            id="scm_url"
            value="{{app.scm_url}}"
            name="yourturn_app_scm_url"
            type="url" />
    </div>
    <div class="form-group">
        <label for="documentation_url">Documentation URL</label>
        <small>Where your documentation is.</small>
        <input
            placeholder="https://github.com/zalando-stups/pierone/docs"
            id="documentation_url"
            value="{{app.documentation_url}}"
            name="yourturn_app_documentation_url"
            type="url" />
    </div>
    <div class="form-group">
        <label for="specification_url">Specification URL</label>
        <small>Where you manage your tickets.</small>
        <input
            placeholder="https://github.com/zalando-stups/pierone/issues"
            id="specification_url"
            value="{{app.specification_url}}"
            name="yourturn_app_specification_url"
            type="url" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <small>A more elaborate description than subtitle. You can use <a data-external href="http://www.unexpected-vortices.com/sw/rippledoc/quick-markdown-example.html">Markdown</a>.</small>
        <textarea
            id="description"
            name="yourturn_app_description"
            cols="30"
            rows="10">{{app.description}}</textarea>
    </div>
    <div class="btn-group">
    <button
        type="submit"
        class="btn btn-primary">
        <i class="fa fa-save"></i> Save
    </button>
</div>
</form>
