<h2><a href="/application/detail/{{application.id}}">{{application.name}}</a> Access Control</h2>
<div class="btn-group">
    <a href="/application/detail/{{application.id}}" class="btn btn-default">
        <i class="fa fa-chevron-left"></i> {{application.name}}
    </a>
</div>
<form name="accessForm" class="form">

    <div class="form-group">
        <label>Application Scopes</label>
        <small>{{application.name}} has the permission to access data with these scopes:</small>
        <div data-action="appscope-list"></div>
    </div>
    <div class="form-group">
        <label>Credential Distribution</label>
        <small>Activate credential distribution into these S3 buckets (<a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html" data-external>Naming Conventions</a>):</small>
        <div data-action="editable-list"></div>
    </div>
    
    <div class="btn-group">
        <button
            type="submit"
            class="btn btn-primary">
            <i class="fa fa-save"></i> Save
        </button>
    </div>
</form>