<h1>{{app.name}}</h1>

<div class="btn-group">
    <a href="/application/edit/{{applicationId}}" class="btn btn-default">
        <i class="fa fa-pencil"></i> Edit
    </a>
    <a href="/application/oauth/{{applicationId}}" class="btn btn-default">
        <i class="fa fa-plug"></i> OAuth Client
    </a>
    <a href="/application/access-control/{{applicationId}}" class="btn btn-default">
        <i class="fa fa-key"></i> Access Control
    </a>
    <a href="/application/detail/{{applicationId}}/version" class="btn btn-primary">
        <i class="fa fa-list"></i> Versions
    </a>
</div>

<h4>
    {{#unless app.active}}
        <span class="applicationDetail-status">
            <i class="fa fa-lg fa-circle-o"></i> Inactive
        </span>
    {{/unless}}
    {{ app.subtitle }}
</h4>

<table>
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{app.id}}</td>
        </tr>
        <tr>
            <th>Team ID</th>
            <td>{{app.team_id}}</td>
        </tr>
        <tr>
            <th>URL</th>
            <td>
                <a data-external href="{{app.service_url}}"}>
                    {{app.service_url}}
                </a>
            </td>
        </tr>
        <tr>
            <th>SCM</th>
            <td>
                <a data-external href="{{app.scm_url}}">
                    {{app.scm_url}}
                </a>
            </td>
        </tr>
        <tr>
            <th>Documentation</th>
            <td>
                <a data-external href={{app.documentation_url}}>
                    {{app.documentation_url}}
                </a>
            </td>
        </tr>
        <tr>
            <th>API</th>
            <td>
                {{#if hasApi}}
                    <a data-external href="{{app.service_url}}{{api.ui}}">
                        Version {{api.version}}
                    </a>
                {{else}}
                    No API docs available.
                {{/if}}
            </td>
        </tr>
        <tr>
            <th>Most recent versions</th>
            <td>
                <ul>
                {{#each versions}}
                    <li><a href="/application/detail/{{../app.id}}/version/detail/{{this.id}}">{{this.id}}</a></li>            
                {{/each}}
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<h4 class="applicationDetail-descriptionTitle">Description</h4>
<p data-action="markdown">
    {{app.description}}
</p>
