<h1>{{app.name}}</h1>

<div class="btn-group">
    <a href="application/edit/{{app.id}}" class="btn btn-primary">
        <i class="fa fa-pencil"></i> Edit
    </a>
    <a href="application/oauth/{{app.id}}" class="btn btn-default">
        <i class="fa fa-plug"></i> Configure OAuth
    </a>
</div>

<h4>
    <span class="applicationDetail-status">
        {{#if app.active}}
            <i class="fa fa-lg fa-circle"></i> <strong>Active</strong>
        {{else}}
            <i class="fa fa-lg fa-circle-o"></i> <strong>Inactive</strong>
        {{/if}}
    </span>
    {{ app.subtitle }}
</h4>


<table>
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{app.id}}</td>
        </tr>
        <tr>
            <th>Team ID</th>
            <td>{{app.team_id}}</td>
        </tr>
        <tr>
            <th>URL</th>
            <td>
                <a data-external href="{{app.service_url}}"}>
                    {{app.service_url}}
                </a>
            </td>
        </tr>
        <tr>
            <th>SCM</th>
            <td>
                <a data-external href="{{app.scm_url}}">
                    {{app.scm_url}}
                </a>
            </td>
        </tr>
        <tr>
            <th>Documentation</th>
            <td>
                <a data-external href={{app.documentation_url}}>
                    {{app.documentation_url}}
                </a>
            </td>
        </tr>
        <tr>
            <th>API</th>
            <td>
                {{#if hasApi}}
                    <a data-external href="{{app.service_url}}{{api.ui}}">
                        Version {{api.version}}
                    </a>
                {{else}}
                    No API docs available.
                {{/if}}
            </td>
        </tr>
        <tr>
            <th>Versions</th>
            <td>
                <a href="application/detail/{{app.id}}/version">All</a>
            </td>
        </tr>
    </tbody>
</table>
<h4 class="applicationDetail-descriptionTitle">Description</h4>
<p data-action="markdown">
    {{app.description}}
</p>
