<div class="u-placeholder">
    <h1>{{applicationId}}</h1>

    <div class="btn-group">
        <a href="/application" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> Applications
        </a>
        <a href="/application/edit/{{applicationId}}" class="btn btn-default btn-disabled">
            <i class="fa fa-pencil"></i> Edit {{applicationId}}
        </a>
        <a href="/application/oauth/{{applicationId}}" class="btn btn-default">
            <i class="fa fa-plug"></i> OAuth Client
        </a>
        <a href="/application/access-control/{{applicationId}}" class="btn btn-default">
            <i class="fa fa-key"></i> Access Control
        </a>
        <a href="/application/detail/{{applicationId}}/version" class="btn btn-primary">
            <i class="fa fa-list"></i> Versions
        </a>
    </div>

    <h4>
        <span class="u-placeholder-text">subtitle</span>
    </h4>

    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <td class="u-placeholder-text">appid</td>
            </tr>
            <tr>
                <th>Team ID</th>
                <td class="u-placeholder-text">teamid</td>
            </tr>
            <tr>
                <th>URL</th>
                <td class="u-placeholder-text">
                    verylongservice
                </td>
            </tr>
            <tr>
                <th>SCM</th>
                <td class="u-placeholder-text">
                    verylongsourcecode
                </td>
            </tr>
            <tr>
                <th>Specification</th>
                <td class="u-placeholder-text">
                    verlongissues
                </td>
            </tr>
            <tr>
                <th>Documentation</th>
                <td class="u-placeholder-text">
                    verylongdocs
                </td>
            </tr>
            <tr>
                <th>API</th>
                <td class="u-placeholder-text">
                    apidocumentation
                </td>
            </tr>
            <tr>
                <th>Recently updated versions</th>
                <td>
                    <ul>
                        <li class="u-placeholder-text">0.1</li>
                        <li class="u-placeholder-text">0.3</li>
                        <li class="u-placeholder-text">0.2</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <h4 className='applicationDetail-descriptionTitle'>Description</h4>
    <p class="u-placeholder-text">
        This is a short description of the application.
    </p>
</div>
