{{#if edit}}
    <h2>
        Edit <a href="/resource/detail/{{resource.id}}">{{resource.name}}</a>
    </h2>
    <div class="btn-group">
        <a href="/resource/detail/{{resource.id}}" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> {{resource.name}}
        </a>
    </div>
{{else}}
    <h2>
        Create a new <a href="/resource">Resource Type</a>
    </h2>
    <div class="btn-group">
        <a href="/resource" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> Resource Types
        </a>
    </div>
{{/if}}
<form class="form" name="resourceForm">
    <div class="form-group">
        <label for="resource_id">Resource Type ID</label>
        <small>The ID of the resource type</small>
        <div class="input-group">
            <div class="input-addon">
                <i  data-block="available-symbol"
                    title="Resource ID is available."
                    class="fa fa-check fa-fw is-available"></i>
                {{#unless edit}}
                    <i  data-block="taken-symbol"
                        title="Resource ID is already taken."
                        class="fa fa-close fa-fw is-taken"></i>
                {{/unless}}
            </div>
            <input
                    id="resource_id"
                    autofocus="autofocus"
                    {{#if edit}}
                    value="{{resource.id}}"
                    disabled="disabled"
                    {{/if}}
                    pattern="[a-z][a-z_]*[a-z]"
                    title="Only lowercase characters with underscores in between."
                    name="yourturn_resource_id"
                    data-block="id-input"
                    required="required"
                    placeholder="sales_order"
                    type="text" />  
        </div>
    </div>
    <div class="form-group">
        <label for="resource_name">Resource Type Name</label>
        <small>The name of the resource type</small>
        <input
            id="resource_name"
            {{#if edit}}
            value="{{resource.name}}"
            {{/if}}
            name="yourturn_resource_name"
            data-block="name-input"
            required="required"
            placeholder="Sales Order"
            type="text" />
    </div>
    <div class="form-group">
        <label>Resource Owner</label>
        <small>Who owns the resource? Who can grant access to the resource? For now it’s okay to not have any resource owner.</small>
        <label for="employees">
            <input
                {{#if edit}}
                    {{#contains resource.resource_owners "employees"}}
                        checked="checked"
                    {{/contains}}
                {{/if}}
                name="yourturn_resource_owner_employee"
                id="employees"
                type="checkbox" /> Employees
        </label>
        <label for="services">
            <input
                {{#if edit}}
                    {{#contains resource.resource_owners "services"}}
                        checked="checked"
                    {{/contains}}
                {{/if}}
                name="yourturn_resource_owner_application"
                id="services"
                type="checkbox" /> Services
        </label>
        <label class="form-disabled" for="customer">
            <input
                disabled="disabled"
                name="yourturn_resource_owner_customer"
                id="customers"
                type="checkbox" /> Customers (available later this year)
        </label>
        <label class="form-disabled" for="brands">
            <input
                disabled="disabled"
                name="yourturn_resource_owner_brands"
                id="brands"
                type="checkbox" /> Brands (available later this year)
        </label>
    </div>
    <div class="form-group">
        <label for="resource_description">Resource Type Description</label>
        <small>An elaborate description with examples of what kind of data this resource type includes. You can use <a data-external href="http://www.unexpected-vortices.com/sw/rippledoc/quick-markdown-example.html">Markdown</a>.</small>
        <textarea
            id="resource_description"
            name="yourturn_resource_description"
            cols="30"
            rows="10">{{#if edit}}{{resource.description}}{{/if}}</textarea>
    </div>
    <div class="btn-group">
        <button
            type="submit"
            class="btn btn-primary">
            <i class="fa fa-save"></i> Save
        </button>
    </div>
</form>
