<div class="versionDetail u-placeholder">
    <h1>{{applicationId}} <span class="u-placeholder-text">0.10.0</span></h1>

    <div class="btn-group">
        <a href="/application/detail/{{applicationId}}/version" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> Back to all {{applicationId}} versions
        </a>
        <a href="/application/detail/{{applicationId}}/version/edit/{{versionId}}" class="btn btn-primary">
            <i class="fa fa-edit"></i> Edit
        </a>
    </div>

    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <td class="u-placeholder-text">0.10.0</td>
            </tr>
            <tr>
                <th>Artifact</th>
                <td class="u-placeholder-text">docker://whatever.io</td>
            </tr>
        </tbody>
    </table>
    <h4 class="versionDetail-notesTitle">Notes</h4>
    <p class="u-placeholder-text">
        These are some version notes.
    </p>
</div>