<div class="resourceDetail u-placeholder">
    <h2>{{resourceId}}</h2>
    <div class="btn-group">
        <a href="/resource" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> Resource Types
        </a>
        <a href="/resource/edit/{{resourceId}}" class="btn btn-default btn-disabled">
            <i class="fa fa-pencil"></i> Edit {{resourceId}}
        </a>
        <a href="/resource/detail/{{resourceId}}/create" class="btn btn-primary btn-disabled">
            <i class="fa fa-plus"></i> Create Scope
        </a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{resourceId}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td class="u-placeholder-text">Sales Order</td>
            </tr>
            <tr>
                <th>Resource Owners</th>
                <td>
                    <ul>
                        <li class="u-placeholder-text">Yo moma</li>
                        <li class="u-placeholder-text">Yo father</li>
                        <li class="u-placeholder-text">Yo moma again</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="grid with-gutter">
        <div class="grid-col">
            <h4 class="resourceDetail-appScopeTitle">Application Scopes</h4>
            <ul>
                <li class="u-placeholder-text">Scope 1</li>
                <li class="u-placeholder-text">Scope 2</li>
            </ul>
        </div>
        <div class="grid-col">
            <h4 class="resourceDetail-ownerScopeTitle">Resource Owner Scopes</h4>
            <ul>
                <li class="u-placeholder-text">Scope 3</li>
                <li class="u-placeholder-text">Scope 4</li>
            </ul>
        </div>
    </div>
    <h4 class="resourceDetail-descriptionTitle">Description</h4>
</div>