<h2>{{resource.name}}</h2>
<div class="btn-group">
    <a href="/resource" class="btn btn-default">
        <i class="fa fa-chevron-left"></i> Resource Types
    </a>
    <a href="/resource/edit/{{resource.id}}" class="btn btn-default">
        <i class="fa fa-pencil"></i> Edit {{resource.name}}
    </a>
    <a href="/resource/detail/{{resource.id}}/scope/create" class="btn btn-primary">
        <i class="fa fa-plus"></i> Create Scope
    </a>
</div>
<table>
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{resource.id}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{resource.name}}</td>
        </tr>
        <tr>
            <th>Resource Owners</th>
            <td>
                <ul>
                    {{#each resource.resource_owners}}
                        <li>
                            {{this}}
                        </li>
                    {{else}}
                        Nobody owns {{resource.name}}.
                    {{/each}}
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<div class="grid with-gutter">
    <div class="grid-col">
        <h4 class="resourceDetail-appScopeTitle">Application Scopes</h4>
        <ul>
            {{#each appScopes}}
                <li>
                    <a href="/resource/detail/{{../resource.id}}/scope/detail/{{this.id}}">
                        {{this.id}}
                    </a>
                </li>
            {{else}}
                No application scopes.
            {{/each}}
        </ul>
    </div>
    <div class="grid-col">
        <h4 class="resourceDetail-ownerScopeTitle">Resource Owner Scopes</h4>
        <ul>
            {{#each ownerScopes}}
                <li>
                    <a href="/resource/detail/{{../resource.id}}/scope/detail/{{this.id}}">
                        {{this.id}}
                    </a>
                </li>
            {{else}}
                No resource owner scopes.
            {{/each}}
        </ul>
    </div>
</div>
<h4 class="resourceDetail-descriptionTitle">Description</h4>
<p
    class="resourceDetail-description"
    data-action="markdown"
    data-block="description">
    {{resource.description}}
</p>
